<div class="row" *ngIf="!this.createProject">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header bg-success text-white">
        Project List
        <button type="button" class="btn btn-link btn-sm fa fa-plus float-right text-white" (click)="createProjectClick()"> Create</button>
      </div>
      <div class="card-block">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tr *ngFor='let project of projects'>
            <td class="width30">{{project.name}}</td>
            <td class="width70">{{project.description}}</td>
            <td class="width10"><button type="button" class="btn btn-link fa fa-pencil text-success" aria-hidden="true"> Update</button></td>
            <td class="width10"><button type="button" class="btn btn-link fa fa-trash text-danger" aria-hidden="true" data-toggle="modal"> Delete</button></td>
          </tr>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="createProject">
  <div class="col-md-12">
    <div class="card">
      <form #projectCreateForm="ngForm">
        <div class="card-header bg-success text-white">
          Create Project
          <button type="button" class="btn btn-link btn-sm float-right fa fa-times text-white" (click)="cancelCreateProject()"> Cancel</button>
          <button type="submit" class="btn btn-link btn-sm float-right fa fa-check text-white" (click)="createProjectSubmit()" [disabled]="!projectCreateForm.form.valid"> Save</button>
        </div>
        <div class="card-block">
          <div class="row">

            <div class="col-md-3">
              <div class="form-group">
                <label for="projectNameCreate">Name<span class="text-danger"> *</span></label>
                <input type="text" class="form-control" id="projectNameCreate" name="projectNameCreate" #projectNameCreate="ngModel" [(ngModel)]="projectNew.name"
                  maxlength="50" pattern="[a-zA-Z0-9]+[a-zA-Z0-9 ]+" required />
                <div *ngIf="projectNameCreate.errors && (projectNameCreate.dirty || projectNameCreate.touched)" class="alert alert-danger">
                  <div [hidden]="!projectNameCreate.errors.required">
                    Project name is required
                  </div>
                  <div [hidden]="!projectNameCreate.errors.maxlength">
                    Max Character Lenght is 50
                  </div>
                  <div [hidden]="!projectNameCreate.dirty || projectNameCreate.errors.required">
                    Invalid project name
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="projectDescriptionCreate">Description<span class="text-danger"> *</span></label>
                <input type="text" class="form-control" id="projectDescriptionCreate" name="projectDescriptionCreate" #projectDescriptionCreate="ngModel"
                  [(ngModel)]="projectNew.description" maxlength="100" pattern="[a-zA-Z0-9]+[a-zA-Z0-9 ]+" required/>
                <div *ngIf="projectDescriptionCreate.errors && (projectDescriptionCreate.dirty || projectDescriptionCreate.touched)" class="alert alert-danger">
                  <div [hidden]="!projectDescriptionCreate.errors.required">
                    Project description is required
                  </div>
                  <div [hidden]="!projectDescriptionCreate.errors.maxlength">
                    Max Character Lenght is 50
                  </div>
                  <div [hidden]="!projectDescriptionCreate.dirty || projectDescriptionCreate.errors.required">
                    Invalid project description
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>